@charset "UTF-8";

/*
    em HTML é id   = em CSS é # (apenas um elemento)
    em HTML é class= em CSS é . (vários elementos)
*/

body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(93, 65, 28);
    font-weight: lighter;
}

h1#principal {
    text-align: center;
    font-weight: bolder;
    background-color: rgba(104, 69, 50, 0.636);
}

.basico {
    background-color: rgb(255, 145, 0);
}

.intermediario {
    background-color: rgb(136, 78, 1);
}

.avancado {
    background-color: rgb(51, 28, 0);
}